* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #181818;
  color: #fff;
  margin: 50px;
}

h1 {
  text-align: center;
  font-size: 70px;
  background-color: lightblue;
  color: #181818;
  border-radius: 26px;
  padding: 26px;
  margin-block-end: 80px;
}

li {
  list-style: none;
  padding: 50px;
  margin: 36px;
  border: 2px solid lightgray;

  &:hover {
    background-color: lightblue;
    color: #181818;
    transition: 0.3s;
  }
}

a {
  text-decoration: none;
  color: inherit;
  display: block;
  font-size: 26px;
  font-weight: 700;
  text-align: center;
}
